<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="icon-home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon class="icon-search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon class="icon-add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon class="icon-activity"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="karma">
      <ion-icon class="icon-karma"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>