<ion-content>
  <div class="ion-img-wrapper">
    <ion-img src="/assets/karma-diary-splash.jpg"></ion-img>
  </div>
  <form>
    <ion-list class="ion-padding-horizontal">
      <ion-item mode="md">
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item mode="md">
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top" mode="md">
        <ion-text color="dark" slot="end">Forgot password?</ion-text>
      </ion-item>

      <ion-button class="ion-margin-top font-bold" shape="round" expand="block" [routerLink]="['/tabs']">
        SIGN IN
      </ion-button>

      <ion-item lines="none" class="ion-margin-top text-center" mode="md">
        <ion-text color="primary" class="font-bold">Register here For a new account</ion-text>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-text color="primary" class="font-bold">Powered by Karma Diary</ion-text>
  </ion-toolbar>
</ion-footer>