<ion-content>
  <div class="ion-img-wrapper">
    <ion-img src="/assets/karma-diary-splash.jpg"></ion-img>
  </div>
  <form>
    <ion-list>
      <ion-item class="ion-padding-horizontal" mode="md">
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-padding-horizontal" mode="md">
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top text-center ion-padding-horizontal" mode="md">
        <ion-text color="dark">Forgot password?</ion-text>
      </ion-item>

      <ion-button class="ion-padding-horizontal ion-margin-top" shape="round" expand="block" [routerLink]="['/tabs']">
        SIGN IN
      </ion-button>

      <ion-item lines="none" class="ion-margin-top text-center" mode="md">
        <ion-text color="primary">Register here For a new account</ion-text>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar lines="none">
    <ion-title color="primary">Powered by Karma Diary</ion-title>
  </ion-toolbar>
</ion-footer>