<ion-header>
  <ion-toolbar>
    <ion-title color="primary" class="font-bold">Activity</ion-title>
    <ion-item slot="end" lines="none">
      <ion-avatar>
        <img src="/assets/avatar.svg">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-list-header>
      Today Activity
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      Last Week Activity
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      Last Month Activity
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/multi-profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah</span>,
        <span class="heavy-font">Hdk_Suthar</span>,
        <span class="heavy-font">Ahlad_Dongre & 132 other people</span>
        like your photo
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile.png">
      </ion-avatar>
      <ion-text>
        <span class="heavy-font">Meet_Shah Commented: </span>,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>