.ion-img-wrapper {
  max-width: 155px;
  display: flex;
}

.karma-segment {
  ion-segment-button {
    --border-radius: 25px;
    ion-label {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

.ghada-stack {
  font-size: 14px;
  font-weight: bold;
}

.ghada-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  width: 90px;
  max-width: 90px;
  min-width: 90px;
  height: auto;
  margin: auto;

  ion-img {
    z-index: 1;
  }
  
  .ghada-level {
    background: #4AC1EB;
    position: absolute;
    top: 1px;
    left: 3%;
    right: 3%;
    bottom: 0px;
    height: 100%;
    margin-top: 100%;
    transition-duration: .6s;
    &.second {
      background: #FFAB31;
    }

    &.third {
      background: #F34741;
    }
  }

  .ghada-status {
    position: absolute;
    color: #000;
   
    left: 0;
    top: 50%;
    font-size: 16px;
    z-index: 1;
    width: 100%;
    text-align: center;

    &.text-white {
      color: #fff;
    }
  }
}

ion-card.sc-ion-card-md-h,
ion-card.sc-ion-card-md-s {
    box-shadow: 0 0px 1px -2px rgba(0,0,0,.2), 0 0px 2px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12);
}
