<div class="karma-post">
  <ion-list lines="none" class="">
    <ion-item class="ion-no-padding">
      <ion-avatar slot="start">
        <img src="/assets/avatar.svg">
      </ion-avatar>
      <ion-label class="font-bold user-name">MeEt_ShAh</ion-label>
    </ion-item>
    <div class="karma-image">
      <ion-img src="/assets/meet-post.jpg"></ion-img>
    </div>

    <ion-item class="ion-no-padding">
      <ion-text color="light" slot="start">3 hours ago</ion-text>
      <ion-icon name="heart-empty" slot="end"></ion-icon>
    </ion-item>

    <div class="ion-no-padding user-likes">
      <ion-text color="primary"> Liked by
        <span class="font-bold">
          Hdk_the_artist
        </span> and
        <span class="font-bold">
          433 others
        </span>
      </ion-text>
    </div>

    <ion-item class="ion-no-padding">
      <ion-text>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit, in magni impedit
        recusandae quisquam laborum, mollitia eius natus quasi repellendus hic sit. Perspiciatis assumenda consectetur
        ipsam ab dolor libero.
      </ion-text>
    </ion-item>
  </ion-list>
</div>